
<div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="widget">
                    <div class="widget-header  bordered-bottom bordered-blue">
                        <span class="widget-caption">Add Class </span>
                    </div>
                    <div class="widget-body ">
                        <div>
<%= form_for(@classroom) do |f| %>
  <% if @classroom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@classroom.errors.count, "error") %> prohibited this classroom from being saved:</h2>

      <ul>
      <% @classroom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
        <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                     <span class="input-icon icon-right">
                    <%= f.text_field :class_name, class: 'form-control', placeholder: 'Class Name' %>
                     
                     </span>
                  </div>
                </div>
                                            
                <div class="col-sm-6">
                  <div class="form-group">
                     <span class="input-icon icon-right">
                     <%= f.text_field :class_location, class: 'form-control', placeholder: 'Class Location' %>
                     
                     </span>
                  </div>
                </div>
        </div>
  
          <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                     <span class="input-icon icon-right">
                    <%= f.text_field :class_level, class: 'form-control', placeholder: 'Class Level' %>
                     
                     </span>
                  </div>
                </div>
          </div>
  
    
 
    <%= f.text_field :school_id, {:value => session[:school_id], :hidden => true}%>
  
    
    <%= f.text_field :school_user_id, {:value => @user_id, :hidden => true} %>

  
  <button type="submit" class="btn btn-blue">Submit</button>
<% end %>
</div>
</div>
</div>
</div>
