<div class="col-lg-8 col-sm-8 col-xs-8">
                <div class="widget">
<div class="widget-header bordered-bottom bordered-blue">
                        <span class="widget-caption">Edit Students </span>
                    </div>
                    <div class="widget-body ">
                        <div>
<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                     <span class="input-icon icon-right">
                    <%= f.text_field :first_name, class: 'form-control', placeholder: 'First Name' %>
                     
                     </span>
                  </div>
                </div>
                                            
                <div class="col-sm-6">
                  <div class="form-group">
                     <span class="input-icon icon-right">
                     <%= f.text_field :last_name, class: 'form-control', placeholder: 'Last Name' %>
                     
                     </span>
                  </div>
                </div>
        </div>
 <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                     <span class="input-icon icon-right">
                    <%= f.date_select :dob, class: 'form-control', placeholder: 'DOB' %>
                     
                     </span>
                  </div>
                </div>
                                            
                <div class="col-sm-6">
                  <div class="form-group">
                     <span class="input-icon icon-right">
                     <%= f.text_field :emergency_contact, class: 'form-control', placeholder: 'Emergency Contact' %>
                     
                     </span>
                  </div>
                </div>
        </div>
    
  
  <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                     <span class="input-icon icon-right">
                    <%= f.text_field :address_line1, class: 'form-control', placeholder: 'Address Line 1' %>
                     
                     </span>
                  </div>
                </div>
                                            
                <div class="col-sm-6">
                  <div class="form-group">
                     <span class="input-icon icon-right">
                     <%= f.text_field :address_line2, class: 'form-control', placeholder: 'Address Line2' %>
                     
                     </span>
                  </div>
                </div>
        </div>
    
  <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                     <span class="input-icon icon-right">
                    <%= f.text_field :city, class: 'form-control', placeholder: 'City' %>
                     
                     </span>
                  </div>
                </div>
                                            
                <div class="col-sm-6">
                  <div class="form-group">
                     <span class="input-icon icon-right">
                     <%= f.text_field :zip, class: 'form-control', placeholder: 'Zip' %>
                     
                     </span>
                  </div>
                </div>
        </div>
    <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                     <span class="input-icon icon-right">
                    <%= f.text_field :state, class: 'form-control', placeholder: 'State' %>
                     
                     </span>
                  </div>
                </div>
                                            
                <div class="col-sm-6">
                  <div class="form-group">
                     <span class="input-icon icon-right">
                     <%= f.text_field :country, class: 'form-control', placeholder: 'Country' %>
                     
                     </span>
                  </div>
                </div>
        </div>
    
  
   
  
    
  
    <%= f.text_field :school_id, hidden: true %>
  
    <%= f.text_field :parent_id, hidden: true %>
  
  <button type="submit" class="btn btn-blue">Post</button> |  <%= link_to 'Back', {:controller => "students", :action => "index", :classroomId => @classroomId} %> 
    </div>
      </div>
        </div>
          </div>
<% end %>
