<body>
    <div class="login-container animated fadeInDown">
        <div class="loginbox bg-white">
            <div class="loginbox-title">SIGN IN</div>
            <div class="loginbox-social">
                <div class="social-title ">Connect with Your Social Accounts</div>
                <div class="social-buttons">
                    <a href="" class="button-facebook">
                        <i class="social-icon fa fa-facebook"></i>
                    </a>
                    <a href="" class="button-twitter">
                        <i class="social-icon fa fa-twitter"></i>
                    </a>
                    <a href="" class="button-google">
                        <i class="social-icon fa fa-google-plus"></i>
                    </a>
                </div>
            </div>
            <div class="loginbox-or">
                <div class="or-line"></div>
                <div class="or">OR</div>
            </div>
            <%= form_tag(:action => 'attempt_login') do %>
            <div class="loginbox-textbox">
                <%= text_field_tag(:username, nil, class: 'form-control',placeholder: 'Username' ) %>
                
            </div>
            <div class="loginbox-textbox">
                <td><%= password_field_tag(:password, nil, class: 'form-control',placeholder: 'Password') %></td>
            </div>
            <div class="loginbox-forgot">
                <a href="">Forgot Password?</a> </br>
                <%= link_to 'Click here to login in as parent.' , {:controller => "parents", :action => "login"}, :method => :post  %> 
            </div>
            <div class="loginbox-submit">
                <%= submit_tag("Log In", {:class => "btn btn-primary btn-block"}) %>
              
            </div>
              <% end %> 
            <div class="loginbox-signup">
                <%= link_to 'Sign Up >>', {:controller => "schools", :action => "new"} %> 
               
            </div>
        </div>
        <div class="logobox">
        </div>
    </div>