<p id="notice"><%= notice %></p>

<h1>Listing Schools</h1>

<table id="schoolDetails" class="display">
  <thead>
    <tr>

      <th > School Name </th>
      <th > Contact </th>
      <th > Working Hours </th>
      <th > Contact Person </th>
      <th > Email Id </th>
    </tr>
  </thead>

  <tbody>
    <% @schools.each do |school| %>
      
      <tr>
        <td>  <%=  school.school_name %></td>
        <td><%=  school.contact %></td>
        <td><%=  school.working_hours %></td>
        <td><%=  school.contact_person %></td>
        <td><%=  school.email_id %></td>
        <td><%= link_to 'Show', school %></td>
        <td><%= link_to 'Edit', edit_school_path(school) %></td>
        <td><%= link_to 'Destroy', school, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New School', new_school_path %>
