<%= form_for(@parent) do |f| %>
  <% if @parent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@parent.errors.count, "error") %> prohibited this parent from being saved:</h2>

      <ul>
      <% @parent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="table">
<table>
<tr>
  <td>
    <%= label_tag("Mom First Name:") %><br>
    <%= f.text_field :mom_fname %>
  </td>
  <td>
    <%= label_tag("Mom Last Name:") %><br>
    <%= f.text_field :mom_lname %>
  </td>
  <td>
    <%= label_tag("Dad First Name") %><br>
    <%= f.text_field :dad_fname %>
  </td>
  <td>
    <%= label_tag("Dad Last Name") %><br>
    <%= f.text_field :dad_lname %>
  </td>
</tr>

<tr>
<td>
<%= label_tag("Email id") %><br>
    <%= f.text_field :email_id %>
</td>
<td>
  <%= label_tag("Contact") %><br>
    <%= f.text_field :contact %>
</td>
<td>
<%= label_tag("User Id") %><br>
    <%= f.text_field :login_id %>
</td>
<td>
<div class="field">
    <%= label_tag("Password") %><br>
    <%= f.text_field :password %>
  </div>
</td>
</tr>
    </table>
    </div>
  
  
  <div class="field">
    
  </div>
  <div class="field">
  
  </div>
  <div class="field">
    
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
