<p id="notice"><%= notice %></p>

<h1>Listing Parents</h1>

<table>
  <thead>
    <tr>
      <th>Mom fname</th>
      <th>Mom lname</th>
      <th>Dad fname</th>
      <th>Dad lname</th>
      <th>Email</th>
      <th>Contact</th>
      <th>Login</th>
      <th>Password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parents.each do |parent| %>
      <tr>
        <td><%= parent.mom_fname %></td>
        <td><%= parent.mom_lname %></td>
        <td><%= parent.dad_fname %></td>
        <td><%= parent.dad_lname %></td>
        <td><%= parent.email_id %></td>
        <td><%= parent.contact %></td>
        <td><%= parent.login_id %></td>
        <td><%= parent.password %></td>
        <td><%= link_to 'Show', parent %></td>
        <td><%= link_to 'Edit', edit_parent_path(parent) %></td>
        <td><%= link_to 'Destroy', parent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parent', new_parent_path %>
