<p id="notice"><%= notice %></p>


<div class="col-xs-12 col-md-12">
  
  <div class="widget">

  <div class="widget-header bordered-bottom bordered-blue">
                <span class="widget-caption">Teacher's List</span>
                <div class="widget-buttons">
                    <a href="#" data-toggle="maximize">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a href="#" data-toggle="collapse">
                        <i class="fa fa-minus"></i>
                    </a>
                    <a href="#" data-toggle="dispose">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
  <div class="widget-body">
    <table class="table table-striped table-hover table-bordered" id="editabledatatable">
      <thead>
        <tr role="row">
          <th>First name</th>
          <th>Last name</th>
          <th>Email</th>
          <th>Contact</th>
          
          
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @school_users.each do |school_user| %>
          <tr>
            <td><%= school_user.first_name %></td>
            <td><%= school_user.last_name %></td>
            <td><%= school_user.email_id %></td>
            <td><%= school_user.contact %></td>
            <td> <%= link_to ' Class', {controller: "classrooms", action: "new", :user_id => school_user.id }, class: 'btn btn-info btn-xs glyphicon glyphicon-plus' %>
              <%= link_to ' Classes', {controller: "classrooms", action: "indexForTeachers", :user_id => school_user.id }, class: 'btn btn-info btn-xs glyphicon glyphicon-eye-open', :method => :post %>
            <%# <td><%= link_to 'Show', school_user ></td> %>
            <%= link_to ' ', edit_school_user_path(school_user), class: 'btn btn-warning btn-xs glyphicon glyphicon-scissors' %>
            <%= link_to ' ', school_user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs glyphicon glyphicon-remove-circle' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div><!-- End div widget-body-->
  <%= will_paginate @school_users %> 
</div>
</div>
<br>

<!-- <%= link_to 'Back To Home', {controller: "home", action: "home"} %> -->
