<p id="notice"><%= notice %></p>

<h1>Teachers List</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Contact</th>
      
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @school_users.each do |school_user| %>
      <tr>
        <td><%= school_user.first_name %></td>
        <td><%= school_user.last_name %></td>
        <td><%= school_user.email_id %></td>
        <td><%= school_user.contact %></td>
        <td><%= link_to 'Add Class', {controller: "classrooms", action: "new", :user_id => school_user.id } %></td>
        <%# <td><%= link_to 'Show', school_user ></td> %>
        <td><%= link_to 'Edit', edit_school_user_path(school_user) %></td>
        <td><%= link_to 'Destroy', school_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back To Home', {controller: "home", action: "home"} %>
